In [15]:
import pandas as pd
import matplotlib.pyplot as plt   
%matplotlib inline
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_csv('salary.csv')

In [8]:
df = df.dropna(how='any',axis=0)

In [9]:
df.corr()

,salary,exprior,yearsworked,yearsrank,market,degree,otherqual,position,male,Field,yearsabs
salary,1.000000,0.119989,0.623589,0.610706,0.407214,0.044554,0.167137,0.702122,0.361564,-0.499316,-0.069630
exprior,0.119989,1.000000,-0.245788,-0.065893,-0.035202,-0.049165,0.264655,0.118031,0.047276,-0.046854,0.132022
yearsworked,0.623589,-0.245788,1.000000,0.813456,-0.070740,0.028122,-0.040157,0.746311,0.278286,-0.264208,0.056113
yearsrank,0.610706,-0.065893,0.813456,1.000000,-0.026869,0.006347,0.007232,0.484891,0.237397,-0.265620,0.035962
market,0.407214,-0.035202,-0.070740,-0.026869,1.000000,0.036456,0.021641,-0.013116,0.181401,-0.223887,-0.167177
degree,0.044554,-0.049165,0.028122,0.006347,0.036456,1.000000,-0.214654,0.043335,0.061419,-0.099077,0.029447
otherqual,0.167137,0.264655,-0.040157,0.007232,0.021641,-0.214654,1.000000,0.160941,0.016082,-0.076202,-0.017792
position,0.702122,0.118031,0.746311,0.484891,-0.013116,0.043335,0.160941,1.000000,0.317390,-0.292313,0.030521
male,0.361564,0.047276,0.278286,0.237397,0.181401,0.061419,0.016082,0.317390,1.000000,-0.130599,-0.622058
Field,-0.499316,-0.046854,-0.264208,-0.265620,-0.223887,-0.099077,-0.076202,-0.292313,-0.130599,1.000000,0.000778
yearsabs,-0.069630,0.132022,0.056113,0.035962,-0.167177,0.029447,-0.017792,0.030521,-0.622058,0.000778,1.000000

In [10]:
X = df[['salary', 'exprior', 'yearsrank','market', 'degree', 'otherqual', 'position', 'male', 'Field','yearsabs' ]]
y = df['yearsworked']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.3)

In [17]:
X = sm.add_constant(X_train)

/home/umuzi/.local/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [18]:
model = sm.OLS(y_train,X_train).fit()

In [19]:
predictions = model.predict(X_train)

In [20]:
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:            yearsworked   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.175e+31
Date:                Mon, 18 Mar 2019   Prob (F-statistic):               0.00
Time:                        14:48:24   Log-Likelihood:                 10724.
No. Observations:                 359   AIC:                        -2.143e+04
Df Residuals:                     348   BIC:                        -2.138e+04
Df Model:                          11
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
salary       4.532e-19   2.43e-19      1.868      0.063    -2.4e-20     9.3e-19
exprior      8.153e-17   3.93e-16      0.207      0.836   -6.92e-16    8.55e-16
yearsworked     1.0000   4.94e-16   2.02e+15      0.000       1.000       1.000
yearsrank     2.88e-16   5.19e-16      0.555      0.579   -7.32e-16    1.31e-15
market      -3.886e-15   1.06e-14     -0.367      0.714   -2.47e-14     1.7e-14
degree       1.166e-15   5.94e-15      0.196      0.845   -1.05e-14    1.29e-14
otherqual    2.054e-15   7.26e-15      0.283      0.778   -1.22e-14    1.63e-14
position    -2.914e-16   3.94e-15     -0.074      0.941   -8.03e-15    7.45e-15
male         3.803e-15   4.56e-15      0.833      0.405   -5.17e-15    1.28e-14
Field        5.655e-16   1.23e-15      0.461      0.645   -1.85e-15    2.98e-15
yearsabs    -6.397e-18   1.13e-16     -0.056      0.955   -2.29e-16    2.16e-16
==============================================================================
Omnibus:                       27.024   Durbin-Watson:                   0.140
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               31.087
Skew:                          -0.669   Prob(JB):                     1.78e-07
Kurtosis:                       3.534   Cond. No.                     4.16e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.16e+05. This might indicate that there are
strong multicollinearity or other numerical problems.