In [2]:
import pandas as pd
import matplotlib.pyplot as plt   
%matplotlib inline
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('salary.csv')

In [4]:
df = df.dropna(how='any',axis=0)

In [5]:
df.corr()

,salary,exprior,yearsworked,yearsrank,market,degree,otherqual,position,male,Field,yearsabs
salary,1.000000,0.119989,0.623589,0.610706,0.407214,0.044554,0.167137,0.702122,0.361564,-0.499316,-0.069630
exprior,0.119989,1.000000,-0.245788,-0.065893,-0.035202,-0.049165,0.264655,0.118031,0.047276,-0.046854,0.132022
yearsworked,0.623589,-0.245788,1.000000,0.813456,-0.070740,0.028122,-0.040157,0.746311,0.278286,-0.264208,0.056113
yearsrank,0.610706,-0.065893,0.813456,1.000000,-0.026869,0.006347,0.007232,0.484891,0.237397,-0.265620,0.035962
market,0.407214,-0.035202,-0.070740,-0.026869,1.000000,0.036456,0.021641,-0.013116,0.181401,-0.223887,-0.167177
degree,0.044554,-0.049165,0.028122,0.006347,0.036456,1.000000,-0.214654,0.043335,0.061419,-0.099077,0.029447
otherqual,0.167137,0.264655,-0.040157,0.007232,0.021641,-0.214654,1.000000,0.160941,0.016082,-0.076202,-0.017792
position,0.702122,0.118031,0.746311,0.484891,-0.013116,0.043335,0.160941,1.000000,0.317390,-0.292313,0.030521
male,0.361564,0.047276,0.278286,0.237397,0.181401,0.061419,0.016082,0.317390,1.000000,-0.130599,-0.622058
Field,-0.499316,-0.046854,-0.264208,-0.265620,-0.223887,-0.099077,-0.076202,-0.292313,-0.130599,1.000000,0.000778
yearsabs,-0.069630,0.132022,0.056113,0.035962,-0.167177,0.029447,-0.017792,0.030521,-0.622058,0.000778,1.000000

In [6]:
X = df[['salary', 'exprior', 'yearsrank','market', 'degree', 'otherqual', 'position', 'male', 'Field','yearsabs' ]]
y = df['yearsworked']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.3)

In [8]:
display(X_train)

,salary,exprior,yearsworked,yearsrank,market,degree,otherqual,position,male,Field,yearsabs
295,61812.00000,6,19,8,1.02,1,0,3,1,1,0
180,66166.00000,4,13,3,1.21,1,0,3,1,1,0
301,78660.00000,8,17,15,1.04,1,0,3,1,1,0
394,46292.00000,0,2,2,1.14,1,0,1,0,2,2
414,47344.00000,0,3,3,1.21,1,0,1,0,3,6
306,56884.00000,1,23,14,0.81,1,0,3,1,4,0
267,52894.00000,0,24,8,0.92,1,0,3,1,3,0
2,45500.00000,0,0,0,1.21,1,0,1,1,3,2
144,40986.00000,0,14,6,0.77,1,0,2,1,4,0
25,33680.00000,0,3,3,0.88,1,0,1,1,4,1
66,58118.00000,0,5,5,1.33,1,0,1,1,1,0
143,60725.86719,2,11,2,1.00,1,0,2,1,1,0
68,38265.00000,2,4,1,0.83,1,0,2,1,3,3
327,68133.00000,4,23,17,0.93,1,0,3,1,1,0
431,56182.00000,0,7,1,1.21,1,0,2,0,2,3
299,66483.00000,3,21,15,0.99,1,0,3,1,1,0
455,46810.86719,3,7,4,0.81,1,0,2,0,3,28
88,39771.16016,0,11,5,0.81,1,0,2,1,3,0
112,42717.59766,0,10,5,0.80,1,1,2,1,2,1
367,68906.00000,2,29,20,1.00,0,0,3,1,1,0
21,32000.00000,3,0,0,0.91,1,0,1,1,3,0
209,64686.62109,5,16,8,1.15,1,0,3,1,1,1
198,66570.00000,0,20,9,0.76,1,0,3,1,1,0
361,44319.00000,4,26,22,0.78,1,0,2,1,3,0
336,55524.00000,13,15,10,1.15,1,0,3,1,4,0
349,62587.00000,20,8,8,0.85,1,1,3,1,1,0
434,36487.00000,1,5,1,0.82,0,1,2,0,4,0
137,45831.00000,0,20,7,0.79,1,0,2,1,4,0
303,62173.00000,1,24,4,1.13,1,0,3,1,2,0
206,71543.00000,13,7,7,1.33,1,1,3,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...
358,55826.00000,4,24,12,0.78,1,0,3,1,4,0
226,59534.85938,0,24,10,0.93,1,0,3,1,1,2
333,61218.00000,0,27,18,1.02,1,0,3,1,2,0
429,34206.00000,2,4,4,0.93,1,0,1,0,4,2
160,37000.00000,7,7,4,0.78,1,0,2,1,1,0
256,48099.00000,1,21,15,0.85,1,0,2,1,3,3
487,34997.00000,0,18,12,0.80,1,0,2,0,3,49
511,53187.00000,19,7,6,0.78,1,0,3,0,4,76
462,40636.00000,0,12,11,0.88,1,0,1,0,4,30
59,35317.00000,0,7,7,0.86,1,0,1,1,4,1
75,41483.00000,1,5,2,0.93,1,0,2,1,3,1
13,61008.00000,0,3,3,1.24,1,0,1,1,4,1
310,65836.72656,0,25,14,0.77,1,0,3,1,1,0
261,52034.00000,0,24,15,0.85,1,0,2,1,2,0
116,48921.00000,8,2,2,0.99,1,0,2,1,4,0
155,54000.00000,3,13,6,0.87,1,0,3,1,1,0
421,40356.00000,0,5,4,0.79,1,0,1,0,3,1
239,44454.00000,5,16,10,1.02,1,0,2,1,3,2
79,29000.00000,6,0,0,0.78,0,0,1,1,3,0
199,58471.00000,0,24,13,0.84,1,0,3,1,2,0
371,90082.00000,10,22,22,1.00,1,0,3,1,2,2
422,34206.00000,1,4,4,0.80,1,0,1,0,4,1
420,32944.00000,0,6,5,0.85,1,0,1,0,3,3
365,82508.00000,0,32,23,0.93,0,1,3,1,2,0
380,72533.00000,15,21,21,1.04,1,0,3,1,2,1
26,35206.00000,0,3,2,0.85,1,0,1,1,4,0
136,42537.00000,0,13,8,0.80,1,0,2,1,3,0
404,36000.00000,1,0,0,0.93,1,0,1,0,2,4
486,52773.00000,0,28,14,0.88,1,0,2,0,1,48
359,71573.00000,8,22,20,0.92,1,0,3,1,1,1

In [9]:
X = sm.add_constant(X_train)

/home/umuzi/.local/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [13]:
model = sm.OLS(y_train,X_train).fit()

In [14]:
predictions = model.predict(X_train)

ValueError: shapes (359,11) and (1,11) not aligned: 11 (dim 1) != 1 (dim 0)

In [15]:
print_model = model.summary()
print(print_model)

ValueError: shapes (359,11) and (359,11) not aligned: 11 (dim 1) != 359 (dim 0)